{% extends 'base.html' %}

{% block content %}

<style>
    body {
      background-color: #f8f9fa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: 20px;
    }
    .registration-form {
      background-color: #fff;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    .form-title {
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      color: #007bff;
    }
    .form-control {
      margin-bottom: 20px;
    }
    .already-account {
      text-align: center;
      margin-top: 20px;
    }
    .already-account a {
      color: #007bff;
      text-decoration: none;
    }
    .already-account a:hover {
      text-decoration: underline;
    }
  </style>

<div class="registration-form col-md-4">
    <h1 class="form-title" style="margin-top: 50px;">User Login</h1>

    {% if messages %}
  <ul>
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter your email">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter your password">
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      <div class="already-account">
        <p>Don't have an account? <a href="{% url 'register' %}">Sign in</a></p>
      </div>
    </form>
  </div>

{% endblock %}